.grw {
    position: relative;
    width: 100%;
    height: 50px;
    background: #2c2c2c;
    display: flex;
}
.main-menu ul {
    list-style: none;
    display: flex;
    padding-inline-start: 0;
}
.main-menu ul a{
    color: gray;
    text-decoration: none;
    padding: 5px;
}
.main-menu ul a:hover{
    color: #7893b3;
}
body {
    margin: 0;
    padding: 0;
    background: #21211f;
}
.logo {
    color: white;
    margin-top: 15px;
    margin-left: 5px;
    width: 80px;
}

/*css для файла login.html and register.html*/

.login h1, h2, h3, h4, h5, p{
    color: white;
    font-family: "Verdana";
}
.login {
    /*display: flex;*/
    display: flex;
    position: relative;
    margin: auto;
    width: 300px;
    flex-direction: column;
}
#id_password, #id_username, #id_password2, #id_email, #id_first_name{
    border-radius: 10px;
}

input[value='Log-in'],input[value="Create my account"]{
    border-radius: 10px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 15px;
}

.register {
        display: flex;
    position: relative;
    margin: auto;
    width: 315px;
    flex-direction: column;
}
.register h1, h2, h3, h4, h5, p{
    color: white;
    font-family: "Verdana";
}
/*aside {*/
/*    float: bottom;*/
/*}*/